{% extends 'base.html' %}

{% block linki %}
{% if user.is_authenticated %}
<li class="nav-item px-3">
  <a href="dashboard" class="nav-link">Dashboard</a>
</li>
{% if user.role_id == 1 %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Maszyny
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="delete_machine">Lista maszyn</a>
  </li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Użytkownicy
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="signin">Dodaj użytkownika</a>
    <div class="dropdown-divider w-75 mx-auto"></div>
    <a class="dropdown-item" href="delete">Lista użytkowników</a>
</li>
{% endif %}
<li class="nav-item px-3">
  <a href="error_submit" class="nav-link">Zgłoś błąd</a>
</li>
<li class="nav-item px-3">
    <a href="contact" class="nav-link">Kontakt</a>
</li>
<li class="nav-item px-3">
  <a href="logout" class="nav-link">Wyloguj się</a>
</li>
{% endif %}
{% endblock linki %}

{% block glownyPanel %}
<div class="row" style="height: 10%">
    <div class="col w-100 mx-auto">
        <h2>Panel dodawania stanowisk</h2>
    </div>
</div>
<div class="row" style="height: 90%">
    <div class="col w-50 mb-4 mt-4">
        <div class="w-100">
            <h4>Podaj dane stanowiska:</h4>
        </div>
        <div class="w-50 mx-auto mt-4">
            <form method="POST">
                <div class="form-group mb-4">
                    <label class="mb-1" for="machine_name">Nazwa sterownika:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="machine_name"
                      name="machine_name"
                      placeholder="Wpisz nazwę sterownika"
                    />
                </div>
                <div class="form-group mb-4">
                    <label class="mb-1" for="machine_date">Data montażu:</label>
                    <input
                      type="date"
                      class="form-control"
                      id="machine_date"
                      name="machine_date"
                      placeholder="Wpisz datę montażu stanowiska"
                    />
                </div>
                <div class="form-group mb-4">
                    <label class="mb-1" for="machine_endpoint">Endpoint serwera OPC:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="machine_endpoint"
                      name="machine_endpoint"
                      placeholder="Wpisz endpoint serwera OPC"
                    />
                </div>
                <div class="form-group mb-4">
                    <label class="mb-1" for="machine_node">Node ID tablicy z danymi</label>
                    <input
                      type="text"
                      class="form-control"
                      id="machine_node"
                      name="machine_node"
                      placeholder="Wpisz ID node"
                    />
                </div>
                <div class="mt-5">
                    <button type="submit" class="btn btn-primary d-inline-block mx-4">Dodaj stanowisko</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col w-50 mx-auto">
        <div class="mt-4">
            <h4>Wzór tablicy z danymi:</h4>
        </div>
    </div>
</div>
{% endblock glownyPanel %}