{% extends 'base.html' %}

{% block linki %}
{% if user.is_authenticated %}
<li class="nav-item px-3">
  <a href="dashboard/1" class="nav-link">Dashboard</a>
</li>
{% if user.role_id == 1 %}
<li class="nav-item dropdown px-3">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Maszyny
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="add_machine">Dodaj maszynę</a>
  </li>
<li class="nav-item dropdown px-3">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Użytkownicy
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="signin">Dodaj użytkownika</a>
    <div class="dropdown-divider w-75 mx-auto"></div>
    <a class="dropdown-item" href="delete">Lista użytkowników</a>
</li>
{% endif %}
<li class="nav-item px-3">
  <a href="error_submit" class="nav-link">Zgłoś błąd</a>
</li>
<li class="nav-item px-3">
    <a href="contact" class="nav-link">Kontakt</a>
</li>
<li class="nav-item px-3">
  <a href="logout" class="nav-link">Wyloguj się</a>
</li>
{% endif %}
{% endblock linki %}

{% block glownyPanel %}
<div class="row-4">
    <h1>Panel usuwania maszyn</h1>
    <hr class="w-50 mx-auto">
</div>
<div class="row-4 my-4">
    <h3>Wybierz maszynę, którą chcesz usunąć z systemu:</h3>
</div>
<div class="row-4 my-5 w-75 mx-auto overflow-auto" style="height:70%;">
            <table id="tablica" class="table" style="color:rgb(255, 255, 255)">
                <thead>
                  <tr>
                    <th scope="col">Nazwa maszyny</th>
                    <th scope="col">Data dodania</th>
                    <th scope="col">Dodany przez</th>
                    <th scope="col">Adres serwera OPC</th>
                    <th scope="col">Data dodania maszyny</th>
                    <th scope="col">Usuń maszynę</th>
                  </tr>
                </thead>
                <tbody>
                    {% for machine in machines %}
                    <tr>
                        <td>{{machine.name}}</td>
                        <td>{{machine.addDate}}</td>
                        <td>{{machine.addedBy}}</td>
                        <td>{{machine.opcua.endpoint}}</td>
                        <td>{{machine.addDate}}</td>
                        <td>
                            <button class="btn btn-close btn-close-white" onclick='sendID("{{machine.id}}", "#tablica")'></button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
</div>
{% endblock glownyPanel %}

{% block admin %}
{% if user.role_id == 1 %}
<div class="text-light position-absolute bottom-0 end-0 mx-4 my-3" style="font-family:'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;"> 
    <img src="../static/img/admin.png" alt="admin" width="35vw" style="-webkit-filter:invert(100%); display:inline-block">&nbsp Jesteś administratorem
</div>
{% endif %}
{% endblock %}